.top-app-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 152px;
    min-width: 100%;
    border-bottom: 1px solid #C3C3C6;
}
.top-app-bar h1 {
    margin: 16px 0 12px 24px;
    user-select: none;
}
.search-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin: 6px 16px;
    padding: 8px 12px;
    background-color: var(--input-background);
    color: #C3C3C6;
    border-radius: 16px;
}
.search-input img {
    color: inherit;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.search-input img:last-child {
    margin-left: auto;
}
.search-input input {
    background: none;
    border: none;
    font-size: 15px;
    line-height: 20px;
    flex-grow: 1;
}
.search-input input::placeholder {
    color: var(--input-placeholder-color);
    font-weight: 500;
}
.search-input input:focus {
    outline: none;
}
.search-filters {
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
}
.search-filter-button {
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    color: var(--text-unselected);
}
.search-filter-button:first-child {
    margin-left: 16px;
}
.search-filter-button:last-child {
    margin-right: 16px;
}
.search-filter-button.selected {
    border-bottom: 2px solid var(--accent-color);
    color: var(--text-main);
}