.year-divider-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.year-divider-wrapper .year-divider {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 24px;
}
.year-divider-wrapper .year-line {
    height: 1px;
    background: var(--theme-placeholder);
    flex-grow: 1;
}
.year-divider-wrapper .year-text {
    width: 160px;
    height: 20px;
    text-align: center;
    color: var(--theme-placeholder);
    user-select: none;
}